<header class="header">
  <a href="../index.html" class="header-logo">
    <svg class="header-icon" width="34" height="34">
      <use href="../svg/icons.svg#icon-logo"></use>
    </svg>
    <p class="header-text">Interno</p>
  </a>
  <nav class="header-nav">
    <ul class="header-list">
      <li class="header-item"><a href="" class="header-link">Home</a></li>
      <li class="header-item"><a href="" class="header-link">Pages</a></li>
      <li class="header-item"><a href="" class="header-link">Services</a></li>
      <li class="header-item"><a href="" class="header-link">Project</a></li>
      <li class="header-item"><a href="" class="header-link">Blog</a></li>
      <li class="header-item"><a href="" class="header-link">Contact</a></li>
    </ul>
  </nav>
  <svg class="header-search" width="21" height="21" fill="none" stroke="black">
    <use href="../svg/icons.svg#icon-search"></use>
  </svg>
</header>
