<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">We Create The Art Of Stylish Living Stylishly</h1>
    <p class="hero-desc">
      It is a long established fact that a reader will be distracted by the of
      readable content of a page when lookings at its layouts the points of
      using that it has a more-or-less normal.
    </p>
    <a href="tel:012345678" class="hero-link">
      <svg class="hero-icon" width="32" height="32" fill="none" stroke="black">
        <use href="../svg/icons.svg#icon-call"></use>
      </svg>
      <div class="hero-phone">
        <p class="hero-num">012345678</p>
        <p class="hero-text">Call Us Anytime</p>
      </div>
    </a>
    <button class="hero-btn">
      <p class="hero-info">Get Free Estimate</p>
      <svg class="hero-arrow" width="15" height="13" fill="none" stroke="black">
        <use href="../svg/icons.svg#icon-arrow"></use>
      </svg>
    </button>
  </div>
</section>
